
    body
    {
        margin: 60px 20px 100% 60px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    
    h2
    {
        border-style: solid;
        border-width: 1px 0 0 0;
        padding-top: 0.8em;
        margin-top: 1.6em;
    }
    
    li
    {
        margin-top: 0.5em;
    }
    
    a:link, a:visited
    {
        color: #3300FF;
        text-decoration: none;
    }
    
    a:hover
    {
        text-decoration: underline;
    }

    code
    {
        /* font-size: larger; */
    }



    /* semantic css */
    
    div.wrapper
    {
        width: 760px;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;  /* for resumes etc */
    }
    
    div.summary
    {
        font-style: italic;
        font-size: 19px;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    div.summary p
    {
    
    }

    .announcement
    {
        border-style: solid;
        border-width: 1px;
        border-color: #772200;

        background-color: #ffe8dd;

        margin: 1em 0em 2em 0em;
        padding: 1.6em 2em;

        font-size: 19px;
    }

    h4.notable
    {
        text-align: center;
        border-style: solid;
        border-width: 1px 0 1px 0;

        margin-left: auto;
        margin-right: auto;
        width: 60%;

        padding-top: 0.7em;
        padding-bottom: 0.6em;
    }

    .article p, .article li
    {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 22px;
        /*font-family: "Times New Roman", Georgia, Serif;*/
    }
    
    div.article h1,
    div.article h2,
    div.article h3,
    div.article h4,
    div.article h5
    {
        color: #006030;;
    }

    .contact-info p
    {
        margin: 0em 2em;
        font-style: italic;
    }
    
    .explanation
    {
        font-size: 11pt;
        font-style: italic;
        font-weight: normal;
    }
    
    .hey
    {
        text-decoration: underline;
        font-weight: bold;
    }
    
    .attn   
    {
        font-weight: bold;
        color: #308070;
    }
    
    
    .banner
    {
        color: #772200;
    }

    .notice
    {
        font-style: italic;
        font-variant: small-caps;
        font-weight: bold;
        color: #228822;
        font-size: larger;
    }

    .instruct
    {
        font-style: italic;
        font-size: smaller;
    }
    
    ul.inner-list li
    {
        list-style-type: none;
    }
    
    .pub-ref
    {
        font-weight: bold;
        color: #207050;
    }
    
    
