
    ul.portfolio_pieces > li
    {
        margin-bottom: 2em;
    }

    ul.portfolio_pieces > li > p
    {
        line-height: 1.5;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }    
    
    ul.portfolio_pieces > li > p:first-child
    {
        font-weight: bold;
        font-size: larger;
    }
    
    div.article > div.provenance
    {
        margin: 1em 2em 3em 2em;

    }
    
    div.article > div.provenance p
    {
        font-size: 18px;
        font-style: italic;    
    }

